<div class="middle" style="height:150px;">
    <h2 class="spanMiddle">Would you like to register?</h2>
</div>

<div class="middle" style="height:250px;">
    <div style="width: 300px; margin: auto;">
        <div class="spanMiddle" style="display: block; margin: 0 auto;">
            <div class="col-md-6">
                <button id="btnYes" class="btn btn-block" onclick="location.href='/3'">Yes</button>
            </div>
            <div class="col-md-6">
                <button id="btnNo" class="btn btn-block" onclick="location.href='/'">No</button>
            </div>
        </div>
    </div>
</div>