<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

    <title>Capture Video</title>

    <!-- prevent inquiries for favicon -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/{CSS_URI}bootstrap.min.css" />
    <link rel="stylesheet" href="/{CSS_URI}main.css" />
    
    <script src="/{JS_URI}jquery-3.2.1.min.js"></script>
    <script src="/{JS_URI}RecordRTC.js"></script>
</head>